{% extends "base.html" %}
{% block title %}포스트 찾기{% endblock %}

{% block content %}
<h1>블로그 찾기</h1>
<hr>
<form action='.' method="post">
{% csrf_token %} <!-- form 첫줄에 항상 넣어줘야함 -->
{{form.as_table}} <!-- 테이블 형태로 보여줌 as_table -->
<input type="submit" value="찾기" class="btn btn-primary btm-sm">
</form>

<br/><br/>
{% if object_list %} 
	{% for post in object_list %}
	<h2><a href='{{post.get_absolute_url}}'> <!-- 절대경로를 가져오기 -->
	{{post.title}}
	</a></h2> 
	{{post.modify_date|date:"N d, Y"}}
	<p>{{post_description}}</p>
	{% endfor %}
	
{% elif search_term %}
	<b><i>Search Word({{search_term}})Not Found !</i></b>
{% endif %}

{% endblock %}

